<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<!-- Trang này được tạo ra để tái sử dụng code HTML -->
<body>
	<!-- Bắt đầu Header Menu -->
	<div th:fragment="menu()">
		<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
			<input type="submit" >
		</form>
		
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">

			<!-- Bắt đầu Logo -->
			<a class="navbar-brand" th:href="@{/}"> 
				<img th:src="@{/images/MobilePhoneShopAdminSmall.png}" />
			</a>
			<!-- Kết thúc Logo -->
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Bắt đầu menu -->
			<div class="collapse navbar-collapse" id="topNavbar">
				<ul class="navbar-nav">
					<th:block sec:authorize="hasAuthority('Admin')">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/users}">Nhân viên</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/users/new}">Thêm nhân viên</a>
								<a class="dropdown-item" th:href="@{/users}">Xem danh sách nhân viên</a>
							</div>
						</li>
					</th:block>
					
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Quản lý kho')">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/categories}">Loại hàng</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/categories/new}">Thêm loại hàng</a>
								<a class="dropdown-item" th:href="@{/categories}">Xem danh sách loại hàng</a>
							</div>
						</li>
					
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/brands}">Hãng</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/brands/new}">Thêm hãng</a>
								<a class="dropdown-item" th:href="@{/brands}">Xem danh sách hãng</a>
							</div>
						</li>
					</th:block>
					
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Quản lý kho', 'Nhân viên bán hàng', 'Shipper')">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/products}">Sản phẩm</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/products/new}" 
									sec:authorize="hasAnyAuthority('Admin', 'Quản lý kho')">
									Thêm sản phẩm
								</a>
								<a class="dropdown-item" th:href="@{/products}">Xem danh sách sản phẩm</a>
							</div>1
						</li>
					</th:block>
					 
					
						<li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Nhân viên bán hàng')">
							<a class="nav-link" th:href="@{/customs}">Khách hàng</a>
						</li>
						<li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Nhân viên bán hàng')">
							<a class="nav-link" th:href="@{/shipping}">Vận chuyển</a>
						</li>
					
					<li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Nhân viên bán hàng', 'Shipper')">
						<a class="nav-link" th:href="@{/orders}">Đơn hàng</a>
					</li>
					<li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Nhân viên bán hàng')">
						<a class="nav-link" th:href="@{/report}">Báo cáo doanh thu</a>
					</li>
					<li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Tư vấn viên')">
						<a class="nav-link" th:href="@{/articles}">Trang tin</a>
					</li>
					<li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Tư vấn viên')">
						<a class="nav-link" th:href="@{/menus}">Menus</a>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('Admin')">
						<a class="nav-link" th:href="@{/settings}">Chỉnh sửa</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li>
						<span class="fas fa-user fa-2x icon-silver"></span>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/account}" 
						sec:authentication="principal.fullName"></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="" id="logoutLink">Đăng xuất</a>
						</div>
					</li>
				</ul>
			</div>
			<!-- Kết thúc menu -->
			
		</nav>
	</div>
	<!-- Kết thúc Header Menu -->
</body>
</html>