<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, inittial-scale=1.0, minimun-scale=1.0">
	<title>Quản lý nhân viên</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

	<!-- Bắt đầu giao diện chính -->
	<div class="container-fluid">

		<!-- Bắt đầu Header Menu -->
		<div>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">

				<!-- Bắt đầu Logo -->
				<a class="navbar-brand" th:href="@{/}"> 
					<img th:src="@{/images/MobilePhoneShopAdminSmall.png}" />
				</a>
				<!-- Kết thúc Logo -->
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Bắt đầu menu -->
				<div class="collapse navbar-collapse" id="topNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/users}">Nhân viên</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/categories}">Phân loại</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/brands}">Hãng</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/products}">Sản phẩm</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/customs}">Khách hàng</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/shipping}">Vận chuyển</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/orders}">Đơn hàng</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/report}">Báo cáo doanh thu</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/articles}">Trang tin</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/menus}">Menus</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/settings}">Chỉnh sửa</a>
						</li>
					</ul>
				</div>
				<!-- Kết thúc menu -->
				
			</nav>
		</div>
		<!-- Kết thúc Header Menu -->

		<div>
			<h2>Quản lý nhân viên</h2>
			<a th:href="@{/users/new}">Thêm nhân viên</a>
		</div>
		
		<!-- Bắt đầu hiển thị thông tin thêm thành công -->
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		<!-- Kết thúc hiển thị thông tin thêm thành công -->
		
		<!-- Bắt đầu tạo bảng chứa thông tin nhân viên -->
		<div>
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>	
						<th>Mã nhân viên</th>
						<th>Ảnh đại diện</th>
						<th>Họ</th>
						<th>Tên</th>
						<th>Chức vụ</th>
						<th>Cho phép hoạt động</th>
						<th>Thao tác</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						 <td>[[${user.id}]]</td>
						 <td> <span class="fas fa-portrait fa-3x icon-silver"></span></td>
						 <td>[[${user.lastName}]]</td>
						 <td >[[${user.firstName}]]</td>
						 <td>[[${user.roles}]]</td>
						 <td>
						 	<a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green" href=""></a>
						 	<a th:if="${user.enabled == false}" class="fas fa-check-circle fa-2x icon-dark" href=""></a>
						 </td>
						 <td>
							<a class="fas fa-edit fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}"
							title="Chỉnh sửa thông tin"></a> 
								&nbsp;
							<a class="fas fa-trash fa-2x icon-red link-delete" th:href="@{'/users/delete/' + ${user.id}}"
							th:userId = "${user.id}" th:userFullName = "${user.lastName} + ' ' + ${user.firstName}"
							title="Xoá nhân viên"></a> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Kết thúc tạo bảng chứa thông tin nhân viên -->

		<!-- Bắt đầu Footer -->
		<div class="text-center">
			<p>Shop bán điện thoại di dộng - Copyright &copy; Nhóm 11</p>
		</div>
		<!-- Kết thúc Footer -->
		
		<!-- Bắt đầu hiện thông báo có thật sự muốn xoá nhân viên-->
		<div class="modal fade text-center" id="confirmModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Xác nhận muốn xoá</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>					
					</div>

					<div class="modal-body">
						<span id="confirmText"></span>
					</div>
				
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Không</button>
						<a class="btn btn-success" href="" id="yesButton">Xoá</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Kết thúc hiện thông báo có thật sự muốn xoá nhân viên -->

	</div>
	<!-- Kết thúc giao diện chính -->
	
	<!-- Bắt đầu code javascript -->
	<script type="text/javascript">
		// Ấn nút xóa thì hiển thị thông báo xác nhận muốn xoá
		$(document).ready(function()
		{
			$(".link-delete").on("click",function(e)
			{
				e.preventDefault();
				//alert($(this).attr("href"));
				link = $(this);
				userId = link.attr("userId");
				userFullName = link.attr("userFullName");
				$("#yesButton").attr("href",link.attr("href"))
				$("#confirmText").text("Bạn có muốn xoá nhân viên '"+ userFullName +"' với id = " + userId + "?");
				$("#confirmModal").modal();
			});
		});
	</script>
	<!-- Kết thúc code javascript -->
</body>
</html>