<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="row" id="divProductImages">
		
			<!-- Bắt đầu tạo form hiện ảnh chính của sản phẩm -->		
			<div class="col border m-3 p-2">
				<div>
					<label>Ảnh chính: [[${product.mainImage}]]</label>
				</div>
				<div class="m-2">
					<img id="thumbnail" alt="Ảnh chính" th:src="@{${product.mainImagePath}}" class="img-fluid">
				</div>
				<div>
					<input type="file" id="fileImage" name="fileImage" 
						th:required="${product.mainImage == null}" accept="image/png, image/jpeg">
				</div>
				<input type="hidden" th:field="*{mainImage}">
			</div>
			<!-- Kết thúc tạo form hiện ảnh chính của sản phẩm -->
			
			<!-- Bắt đầu hiện ảnh phụ khi bấm nút chỉnh sửa sản phẩm -->
			<th:block th:each="productImage, status : ${product.images}">
				<div class="col border m-3 p-2" th:id="'divExtraImage' + ${status.index}">
					<div>
						<label>Ảnh phụ #[[${status.index + 1}]]: [[${productImage.name}]]</label>
						<a name="linkRemoveExtraImage" class="btn fas fa-times-circle fa-2x icon-dark float-right" 
							title="Xoá ảnh này"></a>
					</div>
					<div class="m-2">
						<img th:id="'extraThumbnail' + ${status.index}" alt="Ảnh phụ" th:src="@{${productImage.imagePath}}" class="img-fluid">
					</div>
					<div>
						<input type="file" name="extraImage" accept="image/png, image/jpeg">
					</div>
					
					<input type="hidden" name="imageIds" th:id="'imageId' + ${status.index}"
						th:value="${productImage.id}">
					<input type="hidden" name="imageNames" th:id="'imageName' + ${status.index}"
						th:value="${productImage.id}">
					 			
				</div>	
			</th:block>
			<!-- Kết thúc hiện ảnh phụ khi bấm nút chỉnh sửa sản phẩm -->
			
			<!-- Bắt đầu tạo form ảnh phụ với số thứ tự là số kế tiếp của tổng số ảnh phụ mà sản phẩm đã có (hoặc = 1 nếu không tồn tại ảnh phụ) -->
			<div class="col border m-3 p-2" th:id="'divExtraImage' + ${numberOfExistingExtraImages}">
				<div th:id="'extraImageHeader' + ${numberOfExistingExtraImages}">
					<label>Ảnh phụ #[[${numberOfExistingExtraImages + 1}]]:</label>
							
				</div>
				<div class="m-2">
					<img th:id="'extraThumbnail' + ${numberOfExistingExtraImages}" alt="Ảnh phụ" th:src="@{/images/image-thumbnail.png}" class="img-fluid">
				</div>
				<div>
					<input type="file" name="extraImage" accept="image/png, image/jpeg">
				</div>			
			</div>
			<!-- Kết thúc tạo form ảnh phụ -->
			
		</div>
	</div>
</body>
</html>